body {
  font-family: sans-serif;
  background-color: #262626;
  margin: 0;
  color: white;
  height: 100%;
  box-sizing: border-box;
}
body .cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 420px;
  overflow: hidden;
}
body .cover .header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
body .cover .header .logo {
  width: 100px;
  height: 40px;
}
body .cover .header .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}
body .cover .header .menu .navigation-menu {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  gap: 20px;
  font-size: 12px;
  color: white;
}
body .cover .header .menu .search-wrapper {
  display: none;
  position: absolute;
  top: 45%;
}
body .cover .header .menu .search-wrapper .search-bar {
  background: linear-gradient(to right, #fe7404, #ff610d, #fe4e18);
  border-radius: 20px;
  width: 430px;
  height: 25px;
  border: none;
  outline: none;
  padding: 5px 15px;
}
body .cover .header .menu .search-wrapper .search-bar::placeholder {
  color: white;
  font-size: 13px;
}
body .cover .header .menu .search-wrapper .fa-xmark {
  position: absolute;
  right: -5%;
  top: 33%;
  color: white;
}
body .cover .header .menu .search-wrapper .fa-xmark:hover {
  cursor: pointer;
}
body .cover .header .header-icons i {
  cursor: pointer;
}
body .cover .header .header-icons .fa-cart-plus {
  color: white;
  margin-right: 20px;
}
body .cover .header .header-icons .fa-user {
  color: #3481fb;
}
body .cover .header .tilt-content {
  position: absolute;
  top: calc(400% - 15px);
  left: -20%;
  width: 160%;
  height: 70px;
  transform: rotateZ(2deg);
  background-color: #262626;
}
body .cover .child-menu {
  display: none;
  position: absolute;
  width: calc(45% - 60px);
  background: linear-gradient(to right, #2f3f42, #4b5f62, #877e6b);
  border-radius: 5px;
  padding: 20px;
  left: 30%;
  top: 90px;
  font-size: 12px;
  opacity: 0;
  transition: all 0.5s ease;
}
body .cover .child-menu .platforms-header, body .cover .child-menu .cards-header {
  display: flex;
  justify-content: space-between;
  background-color: #2d4045;
  padding: 5px 15px;
  border-radius: 5px;
}
body .cover .child-menu .platforms-header :last-child, body .cover .child-menu .cards-header :last-child {
  cursor: pointer;
}
body .cover .child-menu .menu-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px 40px;
  padding: 0;
  margin: 20px auto;
}
body .cover .child-menu .menu-items:last-of-type {
  margin-bottom: 0;
}
body .cover .child-menu .menu-items .platform-item {
  display: flex;
  align-items: center;
}
body .cover .child-menu .menu-items .platform-item img {
  width: 20px;
  margin-right: 5px;
}
body .cover .child-menu .menu-items .platform-item:hover {
  background-color: #5d7273;
  padding: 4px 2px;
  border-radius: 20px;
  cursor: default;
}
body .cover .child-menu .menu-items .card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .cover .child-menu .menu-items .card-item img {
  width: 50px;
  margin-bottom: 5px;
}
body .cover .product-menu {
  display: flex;
  justify-content: center;
}
body .cover .product-menu .menu-items {
  background: linear-gradient(to right, #0a141b, #28363d, #3c474f);
  border-radius: 5px;
  padding-inline: 25px 35px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 12px;
  color: white;
}
body .cover .product-menu .menu-items .navigation-item {
  cursor: pointer;
  text-align: center;
}
body .cover .product-menu .menu-items .navigation-item span {
  margin: 0px 5px;
}
body .cover .product-menu .menu-items .navigation-item.deactivated {
  color: #6a6a6b;
  cursor: default;
  pointer-events: none;
}
body .cover .product-menu .search {
  width: 14px;
  height: 14px;
  background-image: radial-gradient(#ff600e 60%, #ff5c10 40%);
  border-radius: 50%;
  padding: 11px;
  color: white;
  margin-left: -20px;
  font-size: 11px;
}
body .cover .product-menu .search .icon {
  margin-left: 2px;
}
body .cover .product-menu .search:hover {
  cursor: pointer;
}
body .cover .product-menu#navMenuMobile {
  display: none;
}
body .cover .details {
  width: 250px;
  color: white;
  margin-left: 8rem;
  margin-top: 3rem;
}
body .cover .details .days {
  font-size: 10px;
  background-color: #333a3d;
  padding: 5px;
}
body .cover .details .text {
  margin: 12px auto;
  line-height: 23px;
}
body .cover .details .cost .price {
  font-size: 30px;
}
body .content {
  margin: -12px 8rem 30px;
}
body .content .content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .content .content-header .view-button {
  display: flex;
  align-items: center;
  font-size: 13px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0 10px;
  height: 30px;
  background-color: #323232;
  cursor: pointer;
}
body .content .game-items {
  display: flex;
  flex-wrap: wrap;
  margin-inline: -10px;
}
body .content .game-items .product {
  flex: 1;
  max-width: 33.3333333333%;
  min-width: 33.3333333333%;
  margin-bottom: 20px;
}
body .content .game-items .product .product-container {
  padding-inline: 10px;
}
body .content .game-items .product .product-container .product-image {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  aspect-ratio: 1.75;
}
body .content .game-items .cost {
  margin-top: -27px;
}
body .content .game-items .item-details {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
body .content .game-items .item-details .downloadable-tag {
  font-size: 10px;
  border: 1px solid #8b8b8b;
  border-radius: 3px;
  color: #8b8b8b;
  padding: 3px 4px;
  margin-right: 5px;
}
body .cost {
  display: flex;
  align-items: center;
  gap: 15px;
}
body .cost .offer-box {
  position: relative;
  transform: skewX(15deg);
  background-color: #fe5715;
  border-radius: 3px;
  width: 37px;
  height: 23px;
}
body .cost .offer-box .cost-tilt-content {
  position: absolute;
  left: -9%;
  width: 13px;
  height: 23px;
  background-color: #fe5715;
  transform: skewX(-15deg);
  border-radius: 3px;
}
body .cost .offer-amount {
  font-size: 12px;
  position: absolute;
  padding: 0 3px;
}

@media (max-width: 767px) {
  body .cover .child-menu {
    width: calc(70% - 60px);
    left: 19%;
    z-index: 2;
  }
  body .cover .details {
    margin-left: 3rem;
  }
  body .content {
    margin: -12px 3rem 30px;
  }
  body .content .game-items .product {
    max-width: 50%;
    min-width: 50%;
  }
}
@media (max-width: 577px) {
  body .cover .header {
    align-items: center;
  }
  body .cover .header .tilt-content {
    top: calc(400% - 40px);
  }
  body .cover .header .header-icons {
    text-align: right;
  }
  body .cover .header .header-icons .fa-cart-plus {
    margin-right: 0;
    margin-bottom: 5px;
  }
  body .cover .header .menu .search-wrapper {
    left: 8%;
    top: 100%;
  }
  body .cover .header .menu .search-wrapper .search-bar {
    width: 390px;
  }
  body .cover .child-menu {
    width: calc(90% - 30px);
    top: 151px;
    left: 3%;
  }
  body .cover .product-menu#navMenuMobile {
    display: flex;
    margin-top: 0;
  }
  body .cover .product-menu#navMenu {
    visibility: hidden !important;
  }
}
@media (max-width: 500px) {
  body .cover .header .tilt-content {
    top: calc(370% - 40px);
  }
  body .cover .child-menu .menu-items {
    grid-template-columns: repeat(2, 1fr);
  }
  body .content .game-items .product {
    max-width: 100%;
    min-width: 100%;
  }
}
@media (max-width: 465px) {
  body .cover .header {
    flex-direction: column-reverse;
  }
  body .cover .header .logo {
    margin: -30px auto 0;
  }
  body .cover .header .header-icons .fa-cart-plus {
    margin-right: 20px;
  }
  body .cover .header .tilt-content {
    top: calc(300% - 40px);
  }
  body .cover .child-menu {
    top: 185px;
  }
  body .cover .product-menu {
    padding-inline: 5px;
  }
}

/*# sourceMappingURL=main.css.map */
